/*!
 * Common CSS should be here.
 */
@import "./reset.styl"
@import "variable.styl"

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #F9F9F7;
  margin: 0;
  padding: 0;
}
.flexbox {
  display: flex;
}

.text-ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

/*!
 * box-sizing: border-box;  change box
 */
 
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}