/*!
 * Common CSS should be here.
 */
@import "variable.styl"

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #F9F9F7;
  margin: 0;
  padding: 0;
}
.flexbox {
  display: flex;
}