
@font-face {font-family: "iconfont";
  src: url('../assets/fonts/iconfont.eot?t=1548401323419'); /* IE9*/
  src: url('../assets/fonts/iconfont.eot?t=1548401323419#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/iconfont.ttf?t=1548401323419') format('woff'),
  url('../assets/fonts/iconfont.ttf?t=1548401323419') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/fonts/iconfont.svg?t=1548401323419#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-not-favorite:before { content: "\e665"; }

.icon-random:before { content: "\e66b"; }

.icon-sequence:before { content: "\e66c"; }

.icon-loop:before { content: "\e66d"; }

.icon-play:before { content: "\e6a4"; }

.icon-pause:before { content: "\e6a5"; }

.icon-next:before { content: "\e6a6"; }

.icon-favorite:before { content: "\e6db"; }

.icon-play-mini:before { content: "\e64c"; }

.icon-prev:before { content: "\e6dc"; }

.icon-playlist:before { content: "\e642"; }

.icon-pause-mini:before { content: "\e64a"; }

.icon-headset:before { content: "\fffff";}
