// 不换行
no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

normal-arrow($color,$rotate) {
  width: 10px;
  height: 10px;
  transform: rotate($rotate);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border-top: 1px solid $color;
  border-left: 1px solid $color;
}

position-center($position) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/*!
 * interesting Multiple lines clamp
 */
line-clamp($line-height,$line,$font-size) {
  max-height: $font-size * $line * $line-height + 1;
  line-height: $line-height;
  overflow: hidden;
  font-size: $font-size;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}