// 颜色定义规范
$color-theme = #d43c33
$color-text-light = #fff;
$color-text-dark = #333;
$color-text-d = #666;
$color-text-gr = #d5d5d6;
$color-pink = #f3c8d3;
$color-highlight-background = #f4f4f4;

$background-color-theme = #f9f9f7;

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 高度

$bar-height = 40px